* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    position: sticky;
    background: rgb(255, 249, 249);
    top: 0;
    padding: 1.46rem 0;
}

.nav_container {
    width: 100%;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1420px;
    width: 100%;

    margin-inline: auto;
}

.nav_logo {
    width: 2.5rem;
    height: 2.5rem;
}

.logo_container {
    display: flex;
    gap: .5rem
}

#DEVCONF_2026 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: "Arimo", sans-serif;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;

    font-family: "Inter", sans-serif;
}


.nav_links li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;

  transition: color 0.3s ease, transform 0.3s ease;
}

.nav_links li a:hover {
    color: #1D4ED8;
    transform: scale(1.08);
}

.register_btn {
    padding: 0.65rem 1.65rem;
    border-radius: 0.45rem;
    border: none;

    color: white;
    font-weight: 600;

    background: #1D4ED8;
}


.hero__section {
    min-height: 91vh;
    background-image: url("assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20rem;

    max-width: 850px;
}

.text__container {
    max-width: 850px;
}

.text__container h1 {
    font-size: 4.5rem;
    font-weight: 650;
}

.text__container p {
    margin-top: 1.5rem;
    font-size: 1.375rem;
    line-height: 1.5;
    color: #ddd;
}

.hero_content .register_btn {
    padding: 1.125rem 2.5rem;
    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 1.2rem;
    font-weight: 700;
}

.speakers__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    padding: 3rem 3.47rem;

    font-family: "Inter", sans-serif;
}

.speakers__section__heading {
    font-size: 3.5rem;
}

.speakers {
    display: flex;
    gap: 2rem;
}

.speaker {
    width: 24rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); 


    border-radius: 0.75rem;
    overflow: hidden;
}

.speaker__img {
    
    height: 15.625rem;
    width: 100%;
    
    background-size: cover;
    background-position: center;
}

#andrej__img {
    background-image: url('assets/andrej.png');
}

.card__body {
    margin: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__title {
    font-size: 0.75rem;
}

.speaker__name {
    font-size: 2.15rem;
    font-weight: 700;
}

.speaker__title {
    font-size: 0.875rem;
    margin-bottom: 0.85rem;
}